.container {
  margin: 0 8px;
  display: block;
  min-width: 200px;
  input {
    border-radius: 8px;
    height: 32px;
    text-indent: 8px;
    width: 100%;
    background-color: var(--input--bg-color);
  }
  input::placeholder {
    color: var(--placeholder-color);
  }
}
.valid {
  border: 1px var(--accent-color) solid;
}
.invalid {
  border: 1px var(--danger-color) solid;
}
.danger {
  display: block;
  color: var(--danger-color);
  font-size: 14px;
}
