* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --base-color-1: #f8efe0;
  --base-color-2: #f4dd99;
  --border-color-1: #886d9c;
  --accent-color: #95c9f4;
  --danger-color: #de7e99;
  --complement-color: #d0d9eb;
}